$forum: "Forum", cursive;
$roboto: "Roboto", sans-serif;
$dark: #030303;
$red: #710707;
$gold: #9d8665;
$black: #000000;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;

  button {
    background: transparent;
    border: none;
  }
}

body {
  font-family: $roboto;
  font-weight: 300;
  // !turn off after adaptation
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (max-width: 1024px) {
    max-width: 984px;
  }

  @media (max-width: 768px) {
    max-width: 728px;
  }
}

.header {
  background-color: $dark;
  color: #fff;
  z-index: 4;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;

    @media (max-width: 1024px) {
      height: 130px;
    }

    @media (max-width: 768px) {
      height: 110px;
    }
  }

  &.menuOpen {
    .logo {
      @media (max-width: 1024px) {
        padding-left: 69px;
      }

      @media (max-width: 768px) {
        padding-left: 74px;
      }
    }

    .menuBtn span {
      display: none;
    }

    .menuBtn::before {
      top: 50%;
      transform: rotate(-45deg) translateY(-50%);
    }

    .menuBtn::after {
      bottom: 50%;
      transform: rotate(45deg) translateY(50%);
    }

    .header-nav {
      left: 0;
    }
  }

  .menuBtn {
    position: absolute;
    right: 20px;
    cursor: pointer;
    width: 32px;
    height: 18px;
  }

  .menuBtn span,
  .menuBtn::before,
  .menuBtn::after {
    @media (max-width: 1024px) {
      display: block;
    }
    display: none;
    width: 32px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s;
  }

  .menuBtn span {
    top: 50%;
  }

  .menuBtn::before,
  .menuBtn::after {
    content: "";
  }

  .menuBtn::before {
    position: absolute;
    left: 0;
    top: 0px;
  }

  .menuBtn::after {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.logo-link {
  color: #fff;
}

.logo {
  font-family: $forum;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-left: 74px;
  padding-top: 2px;
  background-image: url(../assets/svg/logo.svg);
  background-size: 50px 36px;
  background-repeat: no-repeat;
  transition: all 0.8s, filter 0.2s;

  @media (max-width: 768px) {
    margin-top: 8px;
  }

  &:hover {
    cursor: pointer;
    filter: invert(57%) sepia(44%) saturate(261%) hue-rotate(356deg)
      brightness(86%) contrast(92%);
  }
}

.navigation {
  max-width: 775px;
  width: 100%;
  padding-top: 1px;

  &.header-nav {
    @media (max-width: 1024px) {
      position: absolute;
      top: 130px;
      left: -297px;
      max-width: 297px;
      height: 585px;
      background-color: $dark;
      z-index: 3;
    }

    @media (max-width: 768px) {
      position: absolute;
      top: 110px;
      left: -100%;
      width: 100%;
      max-width: 100%;
      height: 861px;
    }
  }

  ul.nav-links-list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 55px;
      margin-top: 33px;
      width: 122px;
    }

    li {
      @media (max-width: 1024px) {
        position: relative;
        width: 100%;
        margin-bottom: 24px;
      }
    }

    li::after {
      @media (max-width: 1024px) {
        content: "";
        position: absolute;
        right: 0;
        top: 6px;
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url(../assets/svg/menu-arrow.svg);
        background-repeat: no-repeat;
        background-size: 100%;
      }
    }

    .nav-link {
      font-weight: 100;
      font-size: 22px;
      letter-spacing: 2px;
      color: #fff;
      height: 100%;
      padding-left: 25px;
      padding-right: 25px;
      transition: all 0.2s;

      @media (max-width: 1024px) {
        padding: 0;
        font-size: 20px;
      }

      &:hover {
        color: $gold;
      }

      &:active {
        color: #7e6c51;
      }
    }

    li:nth-child(4n) .nav-link {
      margin-right: 5px;

      @media (max-width: 1024px) {
        margin: 0;
      }
    }

    li:last-child .nav-link {
      padding-right: 0;
    }

    li:first-child .nav-link {
      padding-left: 0;
    }
  }
}

.menu-images {
  display: none;

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 11px auto 0;
    padding-bottom: 35px;
    max-width: 658px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}

.menu-image {
  &-1 {
    max-width: 658px;
    max-height: 194px;
    margin-bottom: 20px;
  }

  &-2,
  &-3 {
    max-width: 319px;
    max-height: 161px;
  }

  &-3 {
    margin-left: 20px;
  }
}

.socials.menu-socials {
  display: none;
  @media (max-width: 768px) {
    display: block;
    margin: 34px auto 0;
  }

  ul {
    width: 100%;
  }

  li:first-child a {
    margin-left: 0;
  }
}

.section {
  padding: 75px 0;
  @media (max-width: 1024px) {
    padding: 53px 0;
  }
}

.welcom {
  background-color: $dark;
  color: #fff;

  &-content {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    padding-top: 150px;
    z-index: 2;

    @media (max-width: 1024px) {
      padding-top: 49px;
    }

    @media (max-width: 768px) {
      position: relative;
      padding-top: 0;
      text-align: center;
    }
  }

  &-container {
    height: 810px;

    @media (max-width: 1024px) {
      height: 585px;
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      height: 861px;
    }
  }

  p {
    display: inline-block;
    font-size: 28px;
    letter-spacing: 2px;
    padding: 26px 0 76px;

    @media (max-width: 1024px) {
      font-size: 24px;
      padding: 26px 0 51px;
    }

    @media (max-width: 768px) {
      font-size: 20px;
      padding: 24px 0 47px;
    }
  }

  .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 360px;
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 3px;
    letter-spacing: 2px;
    line-height: 25px;
    color: #fff;
    background-color: $red;
    border-radius: 10px;
    transition: all 0.2s;

    @media (max-width: 1024px) {
      font-size: 20px;
      width: 300px;
      height: 60px;
    }

    @media (max-width: 768px) {
      display: none;
    }

    &:hover {
      background-color: $gold;
    }
  }
}

.title {
  font-family: $forum;
  font-size: 80px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  line-height: 90px;

  @media (max-width: 1024px) {
    font-size: 50px;
  }

  @media (max-width: 768px) {
    font-size: 40px;
    line-height: 60px;
  }

  &-gold {
    color: $gold;
  }

  &-white {
    color: #fff;
  }

  &-underline {
    position: relative;
  }

  &-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -30px;
    height: 3px;
    width: 100%;
    background-color: $red;

    @media (max-width: 1024px) {
      bottom: -15px;
    }

    @media (max-width: 768px) {
      bottom: -23px;
    }
  }
}

.visiting {
  padding: 74px 0;

  @media (max-width: 1024px) {
    padding: 53px 0 59px;
  }

  @media (max-width: 768px) {
    padding: 40px 0 80px;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 76px 60px;
  margin-top: 105px;

  @media (max-width: 1024px) {
    justify-content: space-evenly;
    gap: 60px 0px;
    margin-top: 76px;
  }

  @media (max-width: 768px) {
    margin-top: 62px;
    gap: 40px 0px;
  }

  .cards-item {
    display: block;
    width: 440px;
    color: #000;

    @media (max-width: 1024px) {
      width: 330px;
    }

    @media (max-width: 768px) {
      width: 280px;
    }

    img {
      width: 440px;
      height: 285px;

      @media (max-width: 1024px) {
        width: 100%;
        height: auto;
      }
    }

    h3 {
      position: relative;
      font-family: $forum;
      font-weight: 400;
      font-size: 32px;
      letter-spacing: 5px;
      text-transform: uppercase;
      margin-top: 20px;
      color: #000;

      @media (max-width: 1024px) {
        font-size: 28px;
        margin-top: 22px;
      }

      @media (max-width: 768px) {
        font-size: 22px;
        line-height: 24px;
        letter-spacing: 3px;
        margin-top: 20px;
      }
    }

    &.letter-spacing-3 h3 {
      @media (max-width: 1024px) {
        letter-spacing: 3px;
      }
    }

    h3:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -12px;
      height: 2px;
      width: 68%;
      background-color: $red;
      transition: all 0.7s;

      @media (max-width: 1024px) {
        width: 45%;
      }

      @media (max-width: 1024px) {
        width: 53%;
      }
    }

    p:first-of-type {
      font-weight: 100;
      font-size: 22px;
      margin: 22px 0 9px;

      @media (max-width: 1024px) {
        font-size: 20px;
        margin: 20px 0 11px;
      }
      @media (max-width: 768px) {
        font-size: 18px;
        margin: 22px 0 9px;
      }
    }

    p {
      font-weight: 100;
      font-size: 18px;

      @media (max-width: 1024px) {
        font-size: 16px;
      }
    }

    &:hover h3:after {
      width: 100%;
    }
  }
}

.explore {
  background-color: $dark;
  color: #fff;

  @media (max-width: 1024px) {
    padding-bottom: 60px;
  }

  &-container {
    display: flex;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    > div {
      width: 50%;

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    .img-comp-container {
      @media (max-width: 1024px) {
        width: 720px;
        margin: 62px auto 0;
      }
    }

    h2 {
      display: inline;

      @media (max-width: 1024px) {
        display: block;
      }
    }

    p {
      font-weight: 300;
      font-size: 22px;
      margin-right: 61px;
      line-height: 38px;

      @media (max-width: 1024px) {
        font-size: 20px;
        margin: 0;
        line-height: 35px;
      }
    }

    p:first-of-type {
      margin-top: 104px;
      margin-bottom: 27px;

      @media (max-width: 1024px) {
        margin-top: 76px;
        margin-bottom: 0px;
        line-height: 38px;
      }
    }

    p:last-of-type {
      margin-top: 27px;

      @media (max-width: 1024px) {
        margin: 0;
        display: none;
      }
    }

    span {
      color: #caaa7d;
    }
  }
}

.img-comp {
  &-container {
    position: relative;
    margin-top: 15px;
    height: 700px;
  }

  &-img {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 39px;
    height: 39px;
  }

  &-slider::before,
  &-slider::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 332px;
    background-color: #fff;
  }

  &-slider::before {
    left: 12px;
    top: -335px;
  }

  &-slider::after {
    left: 12px;
    top: 33px;
  }
}

.video {
  padding-bottom: 71px;

  @media (max-width: 1024px) {
    padding-bottom: 59px;
  }

  &-player {
    position: relative;
    height: 650px;

    @media (max-width: 1024px) {
      height: 444px;
    }

    img {
      height: 100%;
      width: 100%;
    }

    .btn {
      height: 220px;
      width: 220px;
      background-image: url(../assets/svg/btn-middlePlay.svg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.2s;

      @media (max-width: 1024px) {
        height: 152px;
        width: 152px;
        background-size: contain;
      }

      &:hover {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }

  .control-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    width: 100%;
    margin-top: -1px;
    padding-top: 2px;
    background-color: #000;

    @media (max-width: 1024px) {
      height: 60px;
      justify-content: space-evenly;
    }

    .btn {
      background-repeat: no-repeat;
      background-position: center;
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
        filter: invert(68%) sepia(0%) saturate(1007%) hue-rotate(210deg)
          brightness(89%) contrast(92%);
      }

      &-play {
        width: 23px;
        height: 30px;
        margin-left: 5px;
        background-image: url(../assets/svg/btn-play.svg);

        @media (max-width: 1024px) {
          margin-left: 10px;
        }
      }

      &-volume {
        width: 38px;
        height: 30px;
        margin-left: 2px;
        background-image: url(../assets/svg/btn-volume.svg);

        @media (max-width: 1024px) {
          width: 26px;
          height: 20px;
          background-size: contain;
          margin-left: 0;
        }
      }

      &-fullScreen {
        width: 36px;
        height: 36px;
        margin-right: 5px;
        background-image: url(../assets/svg/btn-fullScreen.svg);

        @media (max-width: 1024px) {
          width: 26px;
          height: 26px;
          background-size: contain;
          margin-right: 10px;
        }
      }
    }

    .input {
      background: linear-gradient(
        to right,
        $red 0%,
        $red 39%,
        #c4c4c4 39%,
        #c4c4c4 100%
      );
      height: 8px;
      -webkit-appearance: none;

      @media (max-width: 1024px) {
        height: 5px;
      }

      &::-webkit-slider-thumb {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        -webkit-appearance: none;
        cursor: pointer;
        background: #fff;

        @media (max-width: 1024px) {
          width: 13px;
          height: 13px;
        }
      }

      &-progress {
        width: 929px;
        background: linear-gradient(
          to right,
          $red 0%,
          $red 40%,
          #c4c4c4 40%,
          #c4c4c4 100%
        );

        @media (max-width: 1024px) {
          width: 564px;
        }
      }

      &-volume {
        width: 155px;

        @media (max-width: 1024px) {
          width: 143px;
        }
      }
    }

    .volume {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 243px;

      @media (max-width: 1024px) {
        width: 200px;
      }

      .btn-volume {
        margin-right: 20px;
      }
    }
  }

  .info {
    display: flex;
    margin-bottom: 76px;

    @media (max-width: 1024px) {
      margin-bottom: 32px;
    }

    h2 {
      width: 50%;
    }

    p {
      display: flex;
      align-items: center;
      width: 50%;
      font-weight: 300;
      font-size: 22px;
      line-height: 38px;

      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
}

.tickets {
  background-color: #fff;
  color: $black;
  padding-top: 72px;
  padding-bottom: 72px;

  @media (max-width: 1024px) {
    padding-top: 48px;
    padding-bottom: 55px;
  }

  .title-underline {
    top: 4px;

    &::after {
      bottom: -28px;

      @media (max-width: 1024px) {
        bottom: -15px;
      }
    }
  }

  .content {
    display: flex;
    margin-top: 105px;

    @media (max-width: 1024px) {
      margin-top: 77px;
    }
  }

  .picture {
    margin-top: 2px;
  }

  &-order {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding-top: 2px;

    @media (max-width: 1024px) {
      display: block;
      width: 100%;
    }

    h4 {
      font-size: 28px;

      @media (max-width: 1024px) {
        margin-right: 25px;
      }
    }

    .ticket-type {
      display: flex;
      flex-direction: column;
      margin-left: 60px;

      @media (max-width: 1024px) {
        display: none;
      }

      & label:first-of-type {
        margin-top: 49px;
      }

      label {
        position: relative;
        font-size: 22px;
        margin-top: 25px;
        margin-left: 40px;
        cursor: pointer;
        user-select: none;

        input {
          position: absolute;
          margin-right: 22px;
          opacity: 0;

          &:checked ~ .checkmark:after {
            display: block;
          }
        }

        .checkmark {
          position: absolute;
          top: 5px;
          left: -40px;
          height: 17px;
          width: 17px;
          background-color: inherit;
          border: 2px solid $dark;
          border-radius: 50%;

          &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: none;
            height: 8px;
            width: 8px;
            background-color: $dark;
            border-radius: 50%;
          }
        }
      }
    }

    .amount {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @media (max-width: 1024px) {
        align-items: center;
      }

      .tickets-amount {
        padding: 3px 0;
        border: 3px solid $dark;

        @media (max-width: 1024px) {
          padding: 3px 12px;
          margin-left: 50px;
          margin-top: -4px;
        }
      }

      p {
        align-self: flex-start;
        font-size: 22px;
        margin-bottom: 15px;
        margin-left: 25px;

        @media (max-width: 1024px) {
          align-self: center;
          margin-left: 0;
          margin-right: 30px;
        }

        &:first-of-type {
          margin-top: 25px;

          @media (max-width: 1024px) {
            margin-top: 28px;
          }
        }

        &:last-of-type {
          margin-top: 12px;

          @media (max-width: 1024px) {
            margin-top: 30px;
            margin-right: 21px;
          }
        }
      }

      input {
        all: unset;
        vertical-align: middle;
        font-size: 22px;
        text-align: center;
        background-color: inherit;
        color: $dark;
        border: none;

        @media (max-width: 1024px) {
          width: 70px;
        }
      }

      button {
        vertical-align: middle;
        font-weight: 400;
        font-size: 32px;
        color: $dark;
        cursor: pointer;

        &:first-of-type {
          padding-right: 13px;
          padding-left: 10px;

          @media (max-width: 1024px) {
            padding-right: 14px;
            padding-left: 0px;
          }
        }

        &:last-of-type {
          padding-right: 11px;
          padding-left: 13px;

          @media (max-width: 1024px) {
            padding-right: 2px;
          }
        }
      }

      .total {
        font-weight: 700;
        font-size: 28px;
        letter-spacing: 1.65px;
        margin: 50px 0 60px 0;

        @media (max-width: 1024px) {
          margin: 25px 0 69px 41px;
        }

        .total-price {
          @media (max-width: 1024px) {
            margin-left: 16px;
          }
        }
      }

      .buyBtn {
        position: relative;
        text-align: center;
        width: 175px;
        height: 50px;
        font-size: 22px;
        letter-spacing: 2px;
        background-color: $dark;
        color: #fff;
        transition: all 0.2s;
        font-weight: 300;
        overflow: hidden;

        @media (max-width: 1024px) {
          margin-left: 51px;
          padding-top: 2px !important;
          padding-left: 1px !important;
        }

        &:hover {
          background-color: $gold;
        }
      }
    }
  }
}

.parallax {
  background: url(../assets/img/parallax.jpg);
  width: 100%;
  height: 400px;
  background-size: cover;
  background-attachment: fixed;
}

.contacts {
  padding-bottom: 70px;

  @media (max-width: 1024px) {
    padding-top: 56px;
    padding-bottom: 63px;
  }

  h2 {
    margin-top: -2px;
  }

  .content {
    display: flex;
    width: 100%;
    margin-top: 104px;

    @media (max-width: 1024px) {
      margin-top: 73px;
    }

    .info {
      flex: 1 0 33.33%;

      @media (max-width: 1024px) {
        display: block;
        flex: none;
        margin-right: 38px;
      }
    }

    h4 {
      font-weight: 500;
      font-size: 28px;
      margin-bottom: 50px;

      @media (max-width: 1024px) {
        font-size: 24px;
        margin-bottom: 32px;
      }
    }

    a,
    p {
      display: block;
      font-size: 22px;
      margin-bottom: 24px;
      color: inherit;

      @media (max-width: 1024px) {
        font-size: 20px;
        margin-bottom: 14px;
      }
    }

    .map {
      flex: 2 0 66.66%;
      // width: 960px;
      // height: 620px;
      margin-top: 1px;

      @media (max-width: 1024px) {
        width: 694px;
        height: 454px;
        // overflow: hidden;
      }

      img {
        @media (max-width: 1024px) {
          // object-fit: fill;
          // width: 100%;
          // height: auto;
        }
      }
    }
  }
}

.footer {
  background-color: $dark;
  padding: 85px 0 50px;

  @media (max-width: 1024px) {
    padding: 61px 0 50px;
  }

  &-container {
    display: flex;

    .nav {
      display: flex;

      ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px 152px;

        @media (max-width: 1024px) {
          margin-left: 40px;
          margin-top: 4px;
          gap: 0px 122px;
        }

        li {
          &::after {
            @media (max-width: 1024px) {
              display: none;
            }
          }
        }

        a {
          padding: 0;
          letter-spacing: 2px;
          font-size: 22px;
        }
      }
    }
  }

  &-navigation {
    width: 363px;
    height: 128px;
    margin-left: 141px;

    @media (max-width: 1024px) {
      margin-left: 0;
    }
  }

  hr {
    height: 3px;
    border: none;
    background-color: #666666;
    margin: 52px 0 50px;

    @media (max-width: 1024px) {
      margin: 51px 0 50px;
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 100;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    color: #fff;

    &-link {
      color: inherit;
    }

    &-link:hover {
      color: $gold;
    }

    &-link:active {
      color: #7e6c51;
    }

    &-link:first-of-type {
      margin-left: 63px;
    }
  }
}

.socials {
  display: flex;
  width: 340px;
  height: 48px;
  margin-top: 76px;
  margin-left: 373px;

  @media (max-width: 1024px) {
    margin-top: 84px;
    margin-left: 57px;
  }

  ul {
    display: flex;
  }

  a {
    display: block;
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #666666;
    border-radius: 50%;
    margin-left: 25px;
    transition: all 0.2s;

    &:hover {
      filter: invert(57%) sepia(8%) saturate(1427%) hue-rotate(356deg)
        brightness(93%) contrast(89%);
    }
  }

  .youtube {
    background-image: url(../assets/svg/youtube.svg);
  }
  .instagram {
    background-image: url(../assets/svg/instagram.svg);
  }
  .facebook {
    background-image: url(../assets/svg/facebook.svg);
  }
  .twitter {
    background-image: url(../assets/svg/twitter.svg);
  }
  .pinterest {
    background-image: url(../assets/svg/pinterest.svg);
  }
}
